[phases.setup]
nixPkgs = ["python312", "nodejs_20"]

[phases.install]
cmds = [
    "pip install -r requirements.txt",
    "npm install"
]

[phases.build]
cmds = [
    "npm run build:css:prod",
    "python manage.py collectstatic --noinput"
]

[start]
cmd = "echo 'Running migrations...' && python manage.py migrate --noinput && echo 'Migrations complete. Starting server...' && gunicorn atlasEvolutions.wsgi --bind 0.0.0.0:$PORT --log-level info"
