[phases.setup]
nixPkgs = ["python312", "nodejs_20"]

[phases.install]
cmds = [
    "pip install -r requirements.txt",
    "npm install"
]

[phases.build]
cmds = [
    "npm run build:css:prod",
    "python manage.py collectstatic --noinput"
]

[start]
cmd = "python manage.py migrate --noinput && gunicorn atlasEvolutions.wsgi --bind 0.0.0.0:$PORT"
